.ImageAnonymizerPage{
    width:100vw;
    display: flex;
    align-items: center;
    background-color: white;
    /* height:100vh; */
    align-items: center;
    justify-content: center;
}

.ImageAnonymizerPage h3{
margin-top: 74px;
}

.response{
    display: flex;
    flex-direction: column !important;

}

.response img{
    height: 430px;
    width:400px;
}

label{
    color: black;
}

input{
    background-color: white;
    color: black;
    width:250px;
}